@import '../../styles/mixins/frames.scss';

.hangman-style{
  grid-area: hangmanImage;

  @include frame;


  display: grid;
  grid-template-rows:auto auto auto auto;
  rid-template-columns:auto 10px auto;

  grid-template-areas:
  "head head head"
  "leftArm torso rightArm"
  ". torso ."
  "leftLeg torso rightLeg";

  #head{
    grid-area: head;
    align-self: end;
    justify-self: center;
  	visibility: visible;
  	background-color: #21FF06;
    width: 35%;
    height: 95%;
  	border-radius: 100%;
  }

  #left-arm{
    grid-area: leftArm;
    width: 10px;
    height: 85%;
    transform: rotate(-45deg);
    align-self: start;
    justify-self: end;
    background-color: #21FF06;
  }

  #left-leg{
    grid-area: leftLeg;
    width: 10px;
    height: 100%;
    transform: rotate(45deg);
    justify-self: end;
    background-color: #21FF06;
  }

  #right-leg{
    grid-area: rightLeg;
    width: 10px;
    height: 100%;
    transform: rotate(-45deg);
    justify-self: start;
    background-color: #21FF06;
  }

  #right-arm{
    grid-area: rightArm;
    width: 10px;
    height: 85%;
    transform: rotate(45deg);
    align-self: start;
    justify-self: start;
    background-color: #21FF06;
  }

#torso{
  grid-area: torso;
  justify-self: center;
  align-self: start;
	visibility: visible;
	background-color: #21FF06;
	width: 10px;
	height: 65%;
}
}
