@import '../../styles/mixins/frames.scss';

.playWord{
  grid-area: word;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #21FF06;
  font-size: 6em;
  letter-spacing: 0.08em;

  @include frame;


}
