@import '../../styles/mixins/frames.scss';

.score-style{
  grid-area: score;
  color: #21FF06;

  @include frame;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
